body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
}
header{
    padding: 4px;
    margin: 4px;
    display: flex;
    justify-content: space-around;
}
.first-section{
    color: white;
    background-color: #1f2937;
}
button{
    background-color: #3882F6;
    color: white;
}
.flex{
    display: flex;
}
.right-margin-auto{
    margin-right: auto;
}
a{
    margin-right: 16px;
}
.section1-main-body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 24px;
}
.some-random-info{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    

}



.the-random-info{
    display: flex;
    justify-content: center;
}
p .the-random-info{
    width: 32px;
}
.illustration{
    margin-right: 32px;
    width: 200px;
}
.third-section{
    display: flex;
    color:#1f2937 ;
    background-color: #E5E7Eb;
    font-size: 36px;
    justify-content: center;



}
.quote{
    width: 700px;
}